<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <!-- <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
        <Label class="sidedrawer-header-brand" text="User Name"></Label>
        <Label class="footnote" text="username@mail.com"></Label>-->
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem  *ngIf="!userlogged"title="Accueil" route="/home" icon="&#xf015;" [isSelected]="isPageSelected('Accueil')">
            </MyDrawerItem>
            <MyDrawerItem  *ngIf="!userlogged" title="Login" route="/auth/login" icon="&#xf007;" [isSelected]="isPageSelected('Login')">
            </MyDrawerItem>
            <MyDrawerItem  title="Journal" route="/home-connected" icon="&#xf2b9;" [isSelected]="isPageSelected('Journal')">
            </MyDrawerItem>

            <!--  <MyDrawerItem title="Charts Circle" route="/charts-pie"  icon="&#xf015;" [isSelected]="isPageSelected('Charts Circle')">
            </MyDrawerItem>-->

            <MyDrawerItem  *ngIf="userlogged" title="Diabéte" route="/add-glucose" icon="&#xf21e;" [isSelected]="isPageSelected('Diabéte')">
            </MyDrawerItem>
            <MyDrawerItem *ngIf="!userlogged"  title="Intro" route="/intro" icon="&#xf005;" [isSelected]="isPageSelected('intro')">
            </MyDrawerItem>
            <MyDrawerItem  *ngIf="userlogged" title="Alimentation" route="/alimentation" icon="&#xf0f5;" [isSelected]="isPageSelected('Alimentation')">
            </MyDrawerItem>
            <MyDrawerItem  *ngIf="userlogged"   title="Activité" route="/steps" icon="&#xf206;" [isSelected]="isPageSelected('Activité')">
            </MyDrawerItem>
            <MyDrawerItem  *ngIf="userlogged" title="Calories Brulées" route="/calories" icon="&#xf06d;" [isSelected]="isPageSelected('Calories')">
            </MyDrawerItem>
        <!--    <MyDrawerItem title=" Editer Profil" route="/auth/profil" icon="&#xf005;" [isSelected]="isPageSelected('Profil')">
            </MyDrawerItem>-->
            <MyDrawerItem   *ngIf="userlogged"title="Mon Profil" route="/profil" icon="&#xf007;" [isSelected]="isPageSelected('Mon Profil')">
            </MyDrawerItem>


            <!-- <GridLayout marginLeft="17" marginTop="10" columns="auto, *" (tap)="gotToEditAccount()" >
                    <Label col="0" [text]="'&#xf007;'" class="fa" style="color : #000000"></Label>
                    <Label col="1" marginLeft="17" marginBottom="9" [text]="'Mon profil'" class="p-r-10" style="color : #000000"></Label>
                </GridLayout>
             
            <MyDrawerItem title="Browse" route="/browse" *ngIf="user && user.id" icon="&#xf1ea;" [isSelected]="isPageSelected('Browse')">
            </MyDrawerItem>
            <MyDrawerItem title="Search" route="/search"   icon="&#xf002;" [isSelected]="isPageSelected('Search')">
            </MyDrawerItem>
            <MyDrawerItem title="Featured" route="/featured" *ngIf="user && user.id" icon="&#xf005;" [isSelected]="isPageSelected('Featured')">
            </MyDrawerItem>-->

            <StackLayout class="hr-light"></StackLayout>

            <!-- <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
            </MyDrawerItem>-->
            <GridLayout  *ngIf="userlogged"  marginLeft="17" marginTop="10" columns="auto, *" class="sidedrawer-list-item" (tap)="logOut()">
                <Label col="0" [text]="'&#xf060;'" class="fa"></Label>
                <Label col="1" marginLeft="15" [text]="'Logout'" class="p-r-10"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>