<ActionBar class="action-bar" title="Alimentation">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" *ngIf="!showAdd"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <ActionItem padding="5" ios:visibility="collapsed" (tap)=" closeAdd()" *ngIf="showAdd" android.position="right" icon="res://ic_close_white_24dp">
    </ActionItem>
    <ActionItem padding="5" android:visibility="collapsed" (tap)=" closeAdd()" *ngIf="showAdd" ios.position="right" icon="res://navigation/ic_close_white">
    </ActionItem>
    <Label class="action-bar-title" text="Alimentation"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Alimentation'"></MyDrawer>


    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>

        <GridLayout verticalAlignment="top" marginTop="30" rows="*,auto,auto" columns="*, *, *,*" visibility="{{ showSearch ? 'visible' : 'collapse' }}">
            <Button text="Petit Déjeuner" (tap)="showBreakLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60"
                width="25%" col="0" borderWidth="2" isEnabled="{{ enableBreak ? 'true' : 'false' }}"></Button>
            <Button text="Déjeuner" (tap)="showLunchLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60" width="25%"
                col="1" borderWidth="2" isEnabled="{{ enableLunch ? 'true' : 'false' }}"></Button>
            <Button text="Diner" (tap)="showDinnerLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60" width="25%"
                col="2" borderWidth="2" isEnabled="{{ enableDinner ? 'true' : 'false' }}"></Button>
            <Button text="Grignotage" (tap)="showSnackLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60" width="25%"
                col="3" borderWidth="2" isEnabled="{{ enableSnack ? 'true' : 'false' }}"></Button>

            <StackLayout row="1" colspan="4" visibility="{{ showBreak ? 'visible' : 'collapse' }}" >
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="top" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="200">
                    <ListView [items]="breakFast" class="list-group">
                        <ng-template let-item="item">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" [src]="src"  height="20" width="28">
                                </image>
                                <Label col="1" [text]="item" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
            </StackLayout>

            <StackLayout row="1" colspan="4" visibility="{{ showLunch ? 'visible' : 'collapse' }}">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="center" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="200">
                    <ListView [items]="lunch" class="list-group">
                        <ng-template let-item="item">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" [src]="src" height="20" width="28">
                                </image>
                                <Label col="1" [text]="item" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
                <!--   <GridLayout rows="*,*,*,*,*" columns="*,*">
                    <Label row="0" col="0" text="Total Calories" verticalAlignment="center" horizontalAlignment="center" fontSize="20" marginBottom="10"></Label>
                    <Label row="1" col="0" [text]="totalCalories" verticalAlignment="center" horizontalAlignment="center" fontSize="15" marginBottom="10"></Label>
                    <Label row="0" col="1" text="Objectif" verticalAlignment="center" horizontalAlignment="center" fontSize="20" marginBottom="10"></Label>
                    <Label row="1" col="1" [text]="goal" verticalAlignment="center" horizontalAlignment="center" fontSize="15" marginBottom="10"></Label>
                    <Label row="2" colspan="2" text="Votre Progrès" marginTop="20" verticalAlignment="center" horizontalAlignment="center" fontSize="20"
                        marginBottom="10"></Label>
                    <Image row="3" colspan="2" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                        src="~/assets/images/objectif.png">
                    </Image>
                    <StackLayout row="4" colspan="2" verticalAlign="center" height="100">
                        <Progress (loaded)="onProgressBarLoaded($event)" (valueChanged)="onValueChanged($event)" color="#8C489F" backgroundColor="#FFFF66"
                            class="m-20" width="80%"></Progress>
                    </StackLayout>

                </GridLayout>-->
            </StackLayout>

            <StackLayout row="1" colspan="4" visibility="{{ showDinner ? 'visible' : 'collapse' }}">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="center" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="200">
                    <ListView [items]="dinner" class="list-group">
                        <ng-template let-item="item">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" src="~/assets/images/cake.jpg" height="20" width="28">
                                </image>
                                <Label col="1" [text]="item" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
            </StackLayout>

            <StackLayout row="1" colspan="4" visibility="{{ showSnack ? 'visible' : 'collapse' }}">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="center" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="200">
                    <ListView [items]="snack" class="list-group">
                        <ng-template let-item="item">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" src="~/assets/images/cake.jpg" height="20" width="28">
                                </image>
                                <Label col="1" [text]="item" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
            </StackLayout>

            <GridLayout row="2" colspan="4" rows="*,*,*,*" columns="*,*,*">
                    <Image col="0" row="0" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/objectif.png">
                </Image>

                <Label col="1" row="0" verticalAlignment="center" horizontalAlignment="center">
                    <FormattedString>
                      <Span text="Votre Objectif " fontSize="15"></Span>
                        <Span [text]="goal" fontSize="25" textWrap="false"></Span>
                    </FormattedString>
                </Label>
                <Image col="0" row="1" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/foodIcon.PNG">
                </Image>

                <Label col="1" row="1" verticalAlignment="center" horizontalAlignment="center" marginBottom="20">
                    <FormattedString>
                        <Span text="Total Calories  " fontSize="15"></Span>
                        <Span [text]="caloriesConsumed" fontSize="25"></Span>
                    </FormattedString>
                </Label>
              
                <Image col="0" row="2" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/rest.png">
                </Image>

                <Label col="1" row="2" verticalAlignment="center" horizontalAlignment="center" *ngIf="showRest">
                    <FormattedString>
                        <Span text="Calories restantes " fontSize="15"></Span>
                        <Span [text]="restToConsume" fontSize="25"></Span>
                    </FormattedString>
                </Label>
                <label row="2" colspan="3" *ngIf="showGoal" text="Objectif Atteint" fontSize="25" horizontalAlignment="center" verticalAlignment="center"></label>

            </GridLayout>
        </GridLayout>


        <StackLayout verticalAlignment="top" backgroundColor="#4abd73" visibility="{{ showSearch ? 'visible' : 'collapse' }}">
            <RadAutoCompleteTextView #autocmp [items]="dataItems" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="onDidAutoComplete($event)"
                hint="Rechercher des aliments" height="40" width="500" backgroundColor="white">
                <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="200">
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <StackLayout orientation="vertical" padding="10">
                            <Label [text]="item.text"></Label>
                        </StackLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
        </StackLayout>


        <AbsoluteLayout #addLayout visibility="{{ showAdd ? 'visible' : 'collapse' }}">
            <StackLayout width="100%">
                <GridLayout columns="auto,*,*,*" rows="*,*,*" width="100%">
                    <image row="0" colspan="4" [src]="src" height="300" width="100%" stretch="aspectFill"></image>
                    <Label row="0" col="0" fontSize="20" class="h3  m-55 text-left" padding="5" horizontalAlignment="left" verticalAlignment="bottom"
                        color="white" [text]="foodToken" textWrap="false">
                    </Label>
                    <label text="Energie" row="1" col="0" horizontalAlignment="left" marginLeft="15"></label>
                    <label [text]="energie" row="2" col="0" horizontalAlignment="left" marginLeft="15"></label>
                    <label text="Glucides" row="1" col="1" horizontalAlignment="left" marginLeft="15"></label>
                    <label [text]="glucide" col="1" row="2" horizontalAlignment="left" marginLeft="15"></label>
                    <label text="Proteines (g)" row="1" col="2" horizontalAlignment="left" marginLeft="15"></label>
                    <label [text]="proteines" col="2" row="2" horizontalAlignment="left" marginLeft="15"></label>
                    <label text="Lipides (g)" row="1" col="3" horizontalAlignment="left" marginLeft="15"></label>
                    <label [text]="lipides" col="3" row="2" horizontalAlignment="left" marginLeft="15"></label>
                </GridLayout>
                <StackLayout class="hr-light" marginTop="20"></StackLayout>
                <GridLayout columns="*,*" horizontalAlignment="center">
                    <TextField hint="1" padding="20" width="100" col="0" keyboardType="phone" [ngModel]='input.portion.value' (ngModelChange)='input.portion.value=$event'>
                    </TextField>
                    <label text="Portion (100g)" col="1" verticalAlignment="center" horizontalAlignment="center"></label>
                </GridLayout>
                <Button class="btn btn-primary" padding="20" borderRadius="5" width="80%" text="Ajouter" (tap)="saveFood()">
                </Button>
            </StackLayout>
        </AbsoluteLayout>

    </GridLayout>
</RadSideDrawer>