<ActionBar class="action-bar" title="Alimentation">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" *ngIf="!showAdd"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <ActionItem padding="5" ios:visibility="collapsed" (tap)=" closeAdd()" *ngIf="showAdd" android.position="right" icon="res://ic_close_white_24dp">
    </ActionItem>
    <ActionItem padding="5" android:visibility="collapsed" (tap)=" closeAdd()" *ngIf="showAdd" ios.position="right" icon="res://navigation/ic_close_white">
    </ActionItem>
    <Label class="action-bar-title" text="Alimentation"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Alimentation'"></MyDrawer>


    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>

        <GridLayout verticalAlignment="top" marginTop="30" rows="*, auto" columns="*, *, *,*" visibility="{{ showSearch ? 'visible' : 'collapse' }}">
            <Button text="Petit Déjeuner" (tap)="showBreakLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60"
                width="25%" col="0" borderWidth="2" isEnabled="{{ enableBreak ? 'true' : 'false' }}"></Button>
            <Button text="Déjeuner" (tap)="showLunchLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60" width="25%"
                col="1" borderWidth="2" isEnabled="{{ enableLunch ? 'true' : 'false' }}"></Button>
            <Button text="Diner" (tap)="showDinnerLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60" width="25%"
                col="2" borderWidth="2" isEnabled="{{ enableDinner ? 'true' : 'false' }}"></Button>
            <Button text="Grignotage" (tap)="showSnackLayout()" verticalAlignment="top" class="btn btn-primary" row="0" height="60" width="25%"
                col="3" borderWidth="2" isEnabled="{{ enableSnack ? 'true' : 'false' }}"></Button>
            <StackLayout verticalAlignment="top" row="1" colspan="4" visibility="{{ showBreak ? 'visible' : 'collapse' }}" height="300">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="top" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                    <ListView [items]="breakFast"  class="list-group">
                        <ng-template let-food="item" let-i="index" let-odd="odd" let-even="even">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" src="~/assets/images/cake.jpg" height="20" width="28">
                                </image>
                                <Label col="1" [text]="food.name" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
            </StackLayout>
            <StackLayout row="1" colspan="4" visibility="{{ showLunch ? 'visible' : 'collapse' }}">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="center" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="300">
                    <ListView [items]="lunch" class="list-group">
                        <ng-template let-food="item" let-i="index" let-odd="odd" let-even="even">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" src="~/assets/images/cake.jpg" height="20" width="28">
                                </image>
                                <Label col="1" [text]="food.name" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
            </StackLayout>
            <StackLayout row="1" colspan="4" visibility="{{ showDinner ? 'visible' : 'collapse' }}">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="center" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="300">
                    <ListView [items]="dinner" class="list-group">
                        <ng-template let-food="item" let-i="index" let-odd="odd" let-even="even">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" src="~/assets/images/cake.jpg" height="20" width="28">
                                </image>
                                <Label col="1" [text]="food.name" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
            </StackLayout>
            <StackLayout row="1" colspan="4" visibility="{{ showSnack ? 'visible' : 'collapse' }}">
                <Label text="Ajouts récents" horizontalAlignment="center" verticalAlignment="center" textWrap="true" padding="12" fontWeight="bold">
                </Label>
                <ScrollView height="300">
                    <ListView [items]="snack"  class="list-group">
                        <ng-template let-food="item" let-i="index" let-odd="odd" let-even="even">
                            <GridLayout class="list-group-item" columns="auto auto">
                                <image col="0" src="~/assets/images/cake.jpg" height="20" width="28">
                                </image>
                                <Label col="1" [text]="food.name" fontSize="20"></Label>
                            </GridLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
            </StackLayout>
        </GridLayout>


        <StackLayout verticalAlignment="top" backgroundColor="#4abd73" visibility="{{ showSearch ? 'visible' : 'collapse' }}">
            <RadAutoCompleteTextView #autocmp [items]="dataItems" suggestMode="Suggest" displayMode="Plain" (didAutoComplete)="onDidAutoComplete($event)"
                hint="Rechercher des aliments" height="40" width="500" backgroundColor="white">
                <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="200">
                    <ng-template tkSuggestionItemTemplate let-item="item">
                        <StackLayout orientation="vertical" padding="10">
                            <Label [text]="item.text"></Label>
                        </StackLayout>
                    </ng-template>
                </SuggestionView>
            </RadAutoCompleteTextView>
        </StackLayout>


        <AbsoluteLayout #addLayout visibility="{{ showAdd ? 'visible' : 'collapse' }}">
            <StackLayout width="100%">
                <GridLayout columns="*,*,*,*" rows="*,*,*" width="100%" >
                    <image row="0" colspan="4" src="~/assets/images/cake.jpg" height="300" width="100%" stretch="aspectFill"></image>
                    <Label row="0" col="0" fontSize="20" class="h3  m-55 text-left" padding="5" horizontalAlignment="left" verticalAlignment="bottom"
                        color="white" [text]="foodToken" textWrap="false">
                    </Label>
                    <label text="Energie" row="1" col="0" horizontalAlignment="left" ></label>
                    <label text=" 0 Kcal" row="2" col="0" horizontalAlignment="left"></label>
                    <label text="Glucides" row="1" col="1" horizontalAlignment="left" ></label>
                    <label text="0 g" col="1" row="2" horizontalAlignment="left" ></label>
                    <label text="Proteines (g)" row="1" col="2" horizontalAlignment="left" ></label>
                    <label text="0 g" col="2" row="2" horizontalAlignment="left" ></label>
                    <label text="Lipides (g)" row="1" col="3" horizontalAlignment="left"></label>
                    <label text="0 g" col="3" row="2" horizontalAlignment="left"></label>
                </GridLayout>
                <StackLayout class="hr-light" marginTop="20"></StackLayout>
                <GridLayout columns="*,*" horizontalAlignment="center">
                    <TextField hint="1" padding="20" width="100" col="0" keyboardType="phone">
                    </TextField>
                    <label text="Portion (100g)" col="1" verticalAlignment="center" horizontalAlignment="center"></label>
                </GridLayout>
                <Button class="btn btn-primary" padding="20" borderRadius="5"  width="80%" text="Ajouter" (tap)="saveFood()">
                </Button>
            </StackLayout>
        </AbsoluteLayout>

    </GridLayout>
</RadSideDrawer>