<ActionBar class="action-bar" title="Accueil">
   
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
   
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Accueil"></Label>
</ActionBar>


<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Accueil'"></MyDrawer>


    </StackLayout>

    
    <GridLayout class="page page-content" tkMainContent class="background-image">
        <StackLayout verticalAlignment="center">
            <Label horizontalAlignment="center" padding="12" class="seConnecter" text="Vous avez déjà un compte ? "></Label>
            <Button class="btn btn-primary" color="white" padding="20" borderRadius="5" width="50%" text="Connexion" (tap)="goToLogin()"></Button>
            <Label horizontalAlignment="center" padding="12" class="seConnecter" text="Vous êtes nouveau ? "></Label>
            <Button class="btn btn-primary" color="white" padding="20" borderRadius="5" width="50%" text="S'inscrire" (tap)="goToRegister()"></Button>

            <!-- <Label padding="12" id="xpasser" class="passer xpasser" text="Passer" (tap)="planYourFirstSession()"></Label>-->

        </StackLayout>
    </GridLayout>
</RadSideDrawer>