<ActionBar class="action-bar" title="Journal">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Journal"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Journal'"></MyDrawer>
    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>
        <StackLayout>

            <GridLayout columns="*,*" rows="auto,*,*" verticalAlignment="top">
                <Label row="0" colspan="2" text="Aujourd'hui" fontSize="25" padding="30" color="#4abd73" horizontalAlignment="center" marginBottom="40"></Label>
                <CardView (tap)="goToSugar()"  class="cardStyle" col="0" row="1" elevation="20" radius="1" width="47%" marginRight="10" marginBottom="20"
                    height="33%">
                    <GridLayout  colums="*,*" rows="*,*">
                        <Image  colspan="2"row="0"stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl" src="~/assets/images/dropIcon.png">
                        </Image>
                        <Label row="1" col="1" verticalAlignment="top" horizontalAlignment="center" text="1.16 g/l" fontSize="20" padding="15" color="#777777"></Label>
                        <Label row="1" col="0" verticalAlignment="bottom" text="Suivi Glycémie" fontSize="20" padding="15" color="#777777"></Label>
                    </GridLayout>
                </CardView>
                <CardView height="33%" (tap)="goToFood()"  class="cardStyle" col="1" row="1" elevation="20" radius="1" backgroundColor="white" width="47%"
                    marginRight="10" marginBottom="20">
                    <GridLayout  colums="*,*" rows="*,*">
                        <Image colspan="2" row="0"  stretch="Fill"  horizontalAlignment="center" verticalAlignment="center"placeholder="localPlaceholderImgorResUrl" src="~/assets/images/foodIcon.PNG">
                        </Image>
                        <Label row="1" col="1" verticalAlignment="top" text="1050.20 calories"  horizontalAlignment="center" fontSize="20" padding="15" color="#777777"></Label>
                        <Label   verticalAlignment="bottom"row="1" col="0"text="Calories Consommées" fontSize="20" padding="15" color="#777777"></Label>
                    </GridLayout>
                </CardView>
                <CardView height="33%" (tap)="goToSteps()" class="cardStyle" col="0" row="2" elevation="20" radius="1" backgroundColor="white" width="47%" marginRight="10"
                    marginBottom="10">
                    <GridLayout colums="*,*" rows="*,*">
                        <Image   colspan="2" row="0"  stretch="Fill" horizontalAlignment="center" verticalAlignment="center"placeholder="localPlaceholderImgorResUrl" src="~/assets/images/stepsIcon.png">
                        </Image>
                        <Label row="1" col="1" verticalAlignment="top" horizontalAlignment="center" text="8,320" fontSize="25" padding="15" color="#777777"></Label>
                      <!--  <Label row="1" col="2" verticalAlignment="top" horizontalAlignment="center" text="pas" fontSize="15" padding="15" color="#777777" marginLeft="10%"></Label>-->
                        <Label  row="1" col="0" text=" Nombre de Pas" fontSize="20" padding="15" color="#777777" verticalAlignment="bottom"></Label>
                    </GridLayout>
                </CardView>
                <CardView height="33%" class="cardStyle" col="1" row="2" elevation="20" radius="1" backgroundColor="white" width="47%" marginRight="10"
                    marginBottom="10">
                    <GridLayout   colums="*,*"  rows="*,*">
                        <Image colspan="2" row="0"  stretch="Fill"  horizontalAlignment="center" verticalAlignment="center" placeholder="localPlaceholderImgorResUrl" src="~/assets/images/fireIcon3.png">
                        </Image>
                        <Label row="1" col="1" verticalAlignment="top" horizontalAlignment="center"  text="201.25 calories" fontSize="20" padding="15" color="#777777"></Label>
                        <Label row="1"  col="0" text="Calories Brulées" fontSize="20" padding="15" verticalAlignment="bottom" color="#777777" ></Label>
                    </GridLayout>
                </CardView>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</RadSideDrawer>