<ActionBar class="action-bar" title="Home">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Charts'"></MyDrawer>
    </StackLayout>
   
    <GridLayout class="page page-content" tkMainContent>
        <GridLayout columns="*,*" rows="*,*" verticalAlignment="center">
            <Button col="0" row="0" class="btn btn-primary" color="white" padding="20" borderRadius="5" width="45%" text="Glycemie Track"
            (tap)="goToSugar()"  ></Button>
            <Button col="1" row="0" class="btn btn-primary"  color="white" padding="20" borderRadius="5" width="45%" text="Food Track"
            (tap)="goToFood()"  ></Button>
            <Button col="0" row="1" class="btn btn-primary" color="white" padding="20" borderRadius="5" width="45%" text="Exercice Track"
            (tap)="goToExercice()"  ></Button>
            <Button col="1" row="1" class="btn btn-primary"  color="white" padding="20" borderRadius="5" width="45%" text=" Calories Track"
            (tap)="goToCalories()"  ></Button>
        </GridLayout>
    </GridLayout>
</RadSideDrawer>