<ActionBar class="action-bar" title="Charts">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Charts"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Charts Bubble'"></MyDrawer>


    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>
        <GridLayout orientation="vertical" rows="*, *" tkExampleTitle tkToggleNavButton>
            <RadCartesianChart height="300" row="0">
                <CategoricalAxis tkCartesianHorizontalAxis verticalLocation="Bottom" labelFitMode="Rotate" labelRotationAngle="1.2"></CategoricalAxis>
                <LinearAxis tkCartesianVerticalAxis></LinearAxis>

                <BubbleSeries tkCartesianSeries [items]="highDataModel" bubbleScale="20" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
                <BubbleSeries tkCartesianSeries [items]="middleDataModel" bubbleScale="20" categoryProperty="Year" valueProperty="Amount"
                    bubbleSizeProperty="Impact"></BubbleSeries>
                <BubbleSeries tkCartesianSeries [items]="lowDataModel" bubbleScale="20" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
            </RadCartesianChart>
          <!--  <RadCartesianChart height="300" row="1">
                <CategoricalAxis tkCartesianHorizontalAxis verticalLocation="Bottom" labelFitMode="Rotate" labelRotationAngle="1.2"></CategoricalAxis>
                <LinearAxis tkCartesianVerticalAxis></LinearAxis>

                <ScatterBubbleSeries tkCartesianSeries [items]="highDataModel" bubbleScale="5" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
                <ScatterBubbleSeries tkCartesianSeries [items]="middleDataModel" bubbleScale="5" categoryProperty="Year" valueProperty="Amount"
                    bubbleSizeProperty="Impact"></ScatterBubbleSeries>
                <ScatterBubbleSeries tkCartesianSeries [items]="lowDataModel" bubbleScale="5" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
            </RadCartesianChart>-->
        </GridLayout>
    </GridLayout>

</RadSideDrawer>