<ActionBar class="action-bar" title="Calories">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Calories"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">

    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Calories'"></MyDrawer>
    </StackLayout>

    <GridLayout class="page page-content" tkMainContent>
        <ScrollView>
<StackLayout>
            <GridLayout columns="*,*,*" rows="auto,*,*,*,auto,auto" verticalAlignment="top">
                <Label row="0" colspan="3" text="Aujourd'hui" fontSize="30" padding="30" color="#4abd73" horizontalAlignment="center" marginBottom="40"></Label>

                <Image colspan="3" row="1" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/flame.png">
                </Image>
                <Label row="2" colspan="3" text="200 Calories" fontSize="30" padding="30" color="#777777" verticalAlignment="top" horizontalAlignment="center"
                    marginBottom="40"></Label>

                <Image col="0" row="3" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/objectif.png">
                </Image>
                <Label row="4" col="0" text="1000" fontSize="18" padding="15" color="#777777" horizontalAlignment="center" textWrap="false"></Label>
                <Label row="5" col="0" text="Votre Objectif" fontSize="12" padding="10" color="#777777" horizontalAlignment="center" verticalAlignment="top"></Label>

                <Image col="1" row="3" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/rest.png">
                </Image>
                <Label row="4" col="1" text="800" fontSize="18" padding="15" color="#777777" horizontalAlignment="center" textWrap="false"></Label>
                <Label row="5" col="1" text="Calories restantes" fontSize="11" padding="10" color="#777777" horizontalAlignment="center" verticalAlignment="top"></Label>

                <Image col="2" row="3" stretch="Fill" verticalAlignment="center" horizontalAlignment="center" placeholder="localPlaceholderImgorResUrl"
                    src="~/assets/images/clock.PNG">
                </Image>
                <Label row="4" col="2" [text]="duration" fontSize="18" padding="15" color="#777777" horizontalAlignment="center" marginBottom="10" textWrap="false"></Label>
                <Label row="5" col="2" text="minutes" fontSize="12" padding="10" color="#777777" horizontalAlignment="center" verticalAlignment="top"></Label>
            </GridLayout>
        <!--    <Button text="calculer" (tap)="stepCounting()" class="btn btn-primary" ></Button>-->
        </StackLayout>
        </ScrollView>

    </GridLayout>
</RadSideDrawer>